{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/gridstack.min.css">
{% endblock %}
{% block navbarCollapse %}
    <ul class="navbar-nav ml-auto" id="reactnavbar">
    </ul>
{% endblock %}
{% block container %}
    <div class="card-group" id="reactapp">
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block afterJSLibs %}
<script src="/javascript/libs/babel.min.js"></script>
    {% if developmentEnvironment %}
        <script src="/javascript/libs/react.development.js"></script>
        <script src="/javascript/libs/react-dom.development.js"></script>
    {% else %}
        <script src="/javascript/libs/react.production.min.js"></script>
        <script src="/javascript/libs/react-dom.production.min.js"></script>
    {% endif %}
    <script src="/javascript/libs/lodash.min.js"></script>
    <script src="/javascript/libs/gridstack.min.js"></script>
    <script src="/javascript/libs/gridstack.jQueryUI.min.js"></script>
{% endblock %}
{% block afterJS %}
    <script src="/javascript/page.jsx" type="text/babel"></script>
    {% for path in widgetScripts %}
        <script src="{{ path }}" type="text/babel"></script>
    {% endfor %}
{% endblock %}
