{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/gridstack.min.css">
{% endblock %}
{% block navbarCollapse %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item dropleft">
        <a class="nav-link p-0" href="#" role="button" data-toggle="dropdown" style="font-size: 2rem; line-height: 2rem" title="Add a card to the dashboard">&plus;</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
</ul>
{% endblock %}
{% block container %}
    <div class="card-group" id="reactapp">
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block beforeScripts %}{% endblock %}
{% block afterJSLibs %}
<script src="/javascript/libs/babel.min.js"></script>
    {% if developmentEnvironment %}
        <script src="/javascript/libs/react.development.js"></script>
        <script src="/javascript/libs/react-dom.development.js"></script>
    {% else %}
        <script src="/javascript/libs/react.production.min.js"></script>
        <script src="/javascript/libs/react-dom.production.min.js"></script>
    {% endif %}
    <script src="/javascript/libs/lodash.min.js"></script>
    <script src="/javascript/libs/gridstack.min.js"></script>
    <script src="/javascript/libs/gridstack.jQueryUI.min.js"></script>
{% endblock %}
{% block afterJS %}
<script src="/javascript/widget-components.jsx" data-plugins="transform-es2015-modules-umd" type="text/babel"></script>
<script src="/javascript/socket-handler.js" data-plugins="transform-es2015-modules-umd" type="text/babel"></script>
<script src="/javascript/page-utils.jsx" data-plugins="transform-es2015-modules-umd" type="text/babel"></script>
<script src="/javascript/page.jsx" data-plugins="transform-es2015-modules-umd" type="text/babel"></script>

<script src="/javascript/widgets/raw-var-editor.jsx" data-plugins="transform-es2015-modules-umd" type="text/babel"></script>
{% endblock %}
